.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#4d90ac79,#3678cf6e);
    min-height: 100vh;
}
.headerparent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: start;
    border: 2px;
}
.headerchild  {
    border: 2px;
}