.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#4d90ac57,#3678cf6e);
    min-height: 100vh;
    padding-left: 30px;
}
.headerparent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: start;
    border: 2px;
}
.headerchild  {
    display: flex;
    margin: 0%;
    padding-left: 0%;
    border: 2px;
    color:white;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
}
.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}