.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#4d90ac79,#3678cf6e);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;

}
